.progress-button {
  width: 100%;
  max-width: 400px;
  background: $accent-fallback-dark;
  position: fixed;
  bottom: 0;

  &.progress-button-friends {
    display: block;
    position: static;
    margin-top: $pad-top-bottom;
  }

  &.inactive {
    opacity: $secondary-opacity;
    padding: 15px 0;
  }

  a {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    height: 100%;

    &:hover {
      background: $accent-fallback-darkest;
    }
  }
}