#activity-form {
  width: 80%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 4*$pad-top-bottom;
}

#activity-name-input,
#activity-description-input {
  width: 100%;
  display: block;
  padding: $pad-top-bottom;
  margin: $pad-top-bottom 0;
  margin-left: -$pad-top-bottom;
  resize: none;
  overflow: hidden;
  border: 1px solid;
  @include black-with($divider-opacity, 'border-color');
  transition: box-shadow 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #969696;
  }
}

#activity-description-input {
  height: 4.5em;
}

#char-count {
  text-align: right;
  height: 1em;
}