$white: #fff;
$black: #000;

$primary: #673AB7;
$primary-light: #D1C4E9;
$primary-dark: #512DA8;
$accent: #18FFFF;
$accent-fallback-light: #84FFFF;
$accent-fallback-dark: #00E5FF;
$background: $white;
$screen: $black;

$divider-opacity: 0.12;
$disabled-opacity: 0.26;
$hint-opacity: 0.26;
$secondary-opacity: 0.54;
$primary-opacity: 0.87;

@mixin white-with($opacity, $prop) {
  #{$prop}: rgba(255,255,255, $opacity);
}

@mixin black-with($opacity, $prop) {
  #{$prop}: rgba(0,0,0, $opacity);
}

%divider-dark { border-bottom: 1px solid rgba(0,0,0, $divider-opacity); }
%divider-light { border-bottom: 1px solid rgba(255,255,255, $divider-opacity); }



html, body {
  width: 100%;
  height: 100%;
}