.icon-button {
  display: inline-block;
  width: 70px;
  cursor: pointer;
  }
  .icon-button:hover {
    opacity: 0.8;
  }

.add-button {
  font-size: 1.3em;
  position: absolute;
  right: 0;
  top: 15px;
}