.icon-button {
  display: inline-block;
  width: 70px;
  cursor: pointer;
  }
  .icon-button:hover {
    opacity: $secondary-opacity;
  }

.add-button {
  position: absolute;
  right: 0;
  top: 7px;
}