$sidebarwidth: 300px;


.sidebar-menu {
  display:block;

  .left {
    position:absolute;
    z-index:2;
    top:70px;
    padding-top: 3px;
    margin-top: -3px;
    box-shadow: inset 0 4px 5px -2px rgba(0,0,0,$secondary-opacity);
    width: $sidebarwidth;
    height:100%;
    background: $background;
    left: $sidebarwidth*-1;
    @include transition(left 0.5s);

    &.visible {
      left: 0;
    }
  }

  .visitor {
    @extend %divider-dark;
    float:left;
    width: $sidebarwidth - 2*$pad-left-right;
    padding: $pad-top-bottom $pad-left-right;
    cursor:pointer;
  }
}

.delete-icon {
  float: right;
  display: none;

  &.show-delete {
    display: inline-block;
    opacity: $hint-opacity;
    @include transition(opacity 0.15s);

    &:hover {
      opacity: $secondary-opacity;
    }
  }
}





@include keyframes(display-none-transition) {
  0% { display: none; opacity: 0; }
  1% { display: block; }
  100% { opacity: $primary-opacity; }
}

#screen {
  display: none;
  opacity: 0;
  background: $screen;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: -3px;
  z-index: 1;
  @include animation('display-none-transition 0.5s');

  &.visible {
    display: block;
    opacity: $primary-opacity;
  }
}


