$sidebarwidth: 270px;
$pad-top-bottom: 10px;
$pad-left-right: 20px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.sidebar-menu {
  display:block;

  >div {
    position:absolute;
    z-index:2;
    top:70px;
    width: $sidebarwidth;
    height:100%;
    background: #fff;

    &.left {
      left: $sidebarwidth*-1;
      @include transition(left 0.5s);

      &.visible {
        left: 0;
      }
    }

    .visitor {
      float:left;
      width: $sidebarwidth - 2*$pad-left-right;
      box-shadow: 0 1px 2px #ccc;
      padding: $pad-top-bottom $pad-left-right;
      cursor:pointer;
      >div {
        display: inline-block;
        float: right;
      }
    }
  }
}