.tab-bar {
  box-shadow: 0 2px 3px rgba(0,0,0,$secondary-opacity);
}

.tab {
  background: $primary;
  display: inline-block;
  height: 100%;
  width: 50%;
  text-align: center;

  &:hover {
    opacity: $primary-opacity;
  }

  a {
    padding: 15px 0 13px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 25%;
    border-bottom: 2px solid $primary;

    &.active {
      border-bottom: 2px solid $accent-fallback-dark;
    }
  }

}