

body {
  font-family: 'Roboto';
}

.app-bar {
  font-size: 1.7em;
  color: #D1C4E9;
}

.icon-button {
  text-align: center;
}

.add-button {
  font-size: 1.3em;
}

.activity, .visitor {
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: left;
  &:hover {
    background: rgba(0,0,0,0.05);
  }
}


.note, .visitor>div {
  color: #777;
  font-weight: 100;
}