

body {
  font-family: 'Roboto';
  @include black-with($primary-opacity, 'color');
}

.app-bar {
  font-size: 1.3em;
  text-decoration: none;
  @include white-with($primary-opacity, 'color');
}

.tab a {
  text-decoration: none;
  @include white-with($primary-opacity, 'color');
}

.infobar {
  @include white-with($primary-opacity, 'color');
}

.icon-button {
  text-align: center;
}

.add-button {
  font-size: 1.3em;
  @include white-with($primary-opacity, 'color');
  a {
    text-decoration: none;
  }
}

.activity,
.friend,
.map,
.sidebar-item a {
  @extend %text-defaults;
  &:hover {
    @include black-with($divider-opacity, 'background');
  }
}

.sidebar-item a {
  text-decoration: none;
  @include black-with($primary-opacity, 'color');
}

article {
  max-width: 400px;
  font-size: 1em;
  line-height: 1.5em;
  margin: 5*$pad-top-bottom auto;
  padding: 0 2*$pad-left-right;
  text-align: center;

  p {
    margin-top: 3*$pad-top-bottom;
  }
}


.note {
  @include black-with($secondary-opacity, 'color');
  font-weight: 300;
}

.delete-icon {
  color: $black;
  font-weight: 500;
}

input, textarea {
  font-size: 1em;
  @include black-with($secondary-opacity, 'color');
  &:focus {
    @include black-with($primary-opacity, 'color');
  }
}

#char-count {
  @include black-with($hint-opacity, 'color');

  &.getting-low {
    @include black-with($secondary-opacity, 'color');
  }

  &.getting-lower {
    @include black-with($primary-opacity, 'color');
  }

  &.low {
    color: #C62828;
  }
}

.form-button {
  @include black-with($secondary-opacity, 'color');
  font-size: 1.3em;

  &:hover {
    color: $background;
  }
}