.visitor {
  @extend %divider-dark;
  padding-left: $pad-left-right;
  padding-top: $pad-top-bottom;
  padding-bottom: $pad-top-bottom;
  cursor:pointer;

  .delete-icon {
    position: absolute;
    right: $pad-left-right;
  }

  &.selected:after {
    content: '✓';
    color: #2E7D32;
    padding-left: 10px;
  }
}